<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'/>
  <title>Blue Vajra<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "code" %>
  <%= javascript_include_tag 'scripts' %>
 </head>
<body id="home">
<%= partial "header" %>

<div class="contentContainer blogs">

  <section class="blogContent">
    <h2>Blog</h2>
    <%= yield %>
  </section>
</div>

<div class="contentContainer projects">
  <section class="projectContent">
    <h2>Projects</h2>
    <%= partial "project_blocks" %>
  </section>
</div>

<%= partial "footer" %>
</body>
</html>
