<div class="cards">

  <div class="modal">
    <label for="modal-1">

      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/Blue_Vajra.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>BlueVajra</h4>

            <p>Personal blog and project site showcasing gSchool and personal projects.</p>
          </div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-1" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-1"></label>

        <h1>BlueVajra</h1>

        <ul class="links">
          <li>Url: <a href="http://www.bluevajra.com/">www.bluevajra.com/</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/BlueVajraBlog">BlueVajra/BlueVajraBlog</a></li>
        </ul>

        <p class="intro">Personal blog and project site showcasing gSchool and personal projects.</p>

        <p class="body">This blog and project site was created with the static-site generator Middleman. I created custom templates using the SASS framework Bourban and Neat. </p>
      </div>
    </div>
  </div>


  <div class="modal">
    <label for="modal-2">
      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/TibetanDictionary.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Tibetan Dictionary</h4>

            <p>A crowd-sourced Tibetan dictionary</p></div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-2" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-2"></label>

        <h1>Tibetan Dictionary</h1>

        <ul class="links">
          <li>Url: <a href="http://tibetan-dictionary-test.herokuapp.com/">tibetan-dictionary-test.herokuapp.com/</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/tibetan_dictionary">BlueVajra/tibetan_dictionary</a></li>
        </ul>

        <p class="intro">A crowd-sourced Tibetan dictionary</p>

        <p class="body">This Rails app was my personal project while at gSchool, but have continued developing it outside of class. It is a Rails/PostgreSQL app utilizing Sass/Bourbon/Neat for the styling and a hand-rolled JavaScript templating engine for responsive editing and maintenance of glossaries. Beta will be up soon.</p>
      </div>
    </div>
  </div>

  <div class="modal">
    <label for="modal-3">

      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/wylie.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Wylie Gem</h4>

            <p>A gem for the conversion of EWTS to Unicode Tibetan</p>
          </div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-3" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-3"></label>

        <h1>Wylie Gem</h1>

        <ul class="links">
          <li>Url: <a href="https://rubygems.org/gems/wylie">rubygems.org/gems/wylie</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/Wylie">BlueVajra/Wylie</a></li>
        </ul>

        <p class="intro">A gem for the conversion of EWTS to Unicode Tibetan</p>

        <p class="body">I extracted this gem out of my Tibetan Dictionary app. All Tibetan rendering done on that app happens through this gem, including the home page Tibetan script. It is my hope to continue its development to allow conversion both ways.</p>
      </div>
    </div>
  </div>

  <div class="modal">
    <label for="modal-4">

      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/escape_boulder.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Escape Boulder</h4>

            <p>Our 1st place entry for QuickLeft's Hackathon</p>
          </div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-4" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-4"></label>

        <h1>Escape Boulder</h1>

        <ul class="links">
          <li>Url: <a href="http://escape-boulder.herokuapp.com/">escape-boulder.herokuapp.com/</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/escape_boulder">BlueVajra/escape_boulder</a></li>
        </ul>

        <p class="intro">Our 1st place entry for QuickLeft's Hackathon</p>

        <p class="body">Together with my team from gSchool, we created and developed this command-line text-adventure game(since ported to JavaScript) in 3 hours for a first place prize!</p>
      </div>
    </div>
  </div>

  <div class="modal">
    <label for="modal-5">

      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/Game_of_Life.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Game of Life</h4>

            <p>A JavaScript implementation of Conway's Game of Life</p>
          </div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-5" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-5"></label>

        <h1>Game of Life</h1>

        <ul class="links">
          <li>Url: <a href="http://game-of-life-js.herokuapp.com/#">http://game-of-life-js.herokuapp.com</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/game_of_life">BlueVajra/game_of_life</a></li>
          </ul>

        <p class="intro">A JavaScript implementation of Conway's Game of Life</p>

        <p class="body">Having been interested in Conway's Game of Life for a number of years, this was my first implementation of it as a way to dive into JavaScript development.</p>
      </div>
    </div>
  </div>

  <div class="modal">
    <label for="modal-6">

      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/Minify-Me.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Minify-me Url Shortener</h4>

            <p>For enjoyment alone, this "URL Shortener" was my first rails project</p>
          </div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-6" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-6"></label>

        <h1>Minify-me Url Shortener</h1>

        <ul class="links">
          <li>Url: <a href="http://minify-me.herokuapp.com/">http://minify-me.herokuapp.com/</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/url_shortener_rails">BlueVajra/url_shortener_rails</a></li>
        </ul>

        <p class="intro">For enjoyment alone, this "URL Shortener" was my first rails project</p>

        <p class="body">This was a tongue-in-cheek attempt at a URL shortener. Nothing fancy in the code, but the design was fun to implement.</p>

      </div>
    </div>
  </div>

  <div class="modal">
    <label for="modal-7">

      <div class="hover-tile-outer" style="background-image: url(<%= image_path '/images/projects/alfred_rubygems.png' %>)">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible">

          </div>
          <div class="hover-tile hover-tile-hidden">
            <h4>Alfred RubyGems Workflow</h4>

            <p>An Alfred workflow for working with the RubyGems site</p>
          </div>
        </div>
      </div>

    </label>
    <input class="modal-state" id="modal-7" type="checkbox"/>

    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-7"></label>

        <h1>Alfred RubyGems Workflow</h1>

        <ul class="links">
          <li>Url: <a href="https://github.com/BlueVajra/ruby_gem_workflow/raw/master/RubyGems.alfredworkflow">RubyGems.alfredworkflow</a></li>
          <li>GitHub: <a href="https://github.com/BlueVajra/ruby_gem_workflow">BlueVajra/ruby_gem_workflow</a></li>
        </ul>

        <p class="intro">An Alfred workflow for working with the RubyGems site</p>

        <p class="body">This Alfred workflow allows you to search for gems in the RubyGems.org website, go to the gem page, and copy the Gemfile versioning.</p>
      </div>
    </div>
  </div>


</div>