<% blog.articles[0...5].each do |article| %>
  <article>
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <aside><time><span class="day"><%= article.date.strftime('%d') %></span><span class="month"><%= article.date.strftime('%b') %></span><span class="year"><%= article.date.strftime('%Y') %></span></time></aside>
    <section>
      <%= article.summary(350) %>
    <p><a href="<%= article.url %>">Read more.</a></p>
    </section>
  </article>
<% end %>


