<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'/>
  <title>Blue Vajra<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "code" %>
  <%= javascript_include_tag 'scripts' %>
</head>
<body>
<%= partial "header" %>

<div class="contentContainer">
  <section class="mainContent">
    <%= yield %>
    <aside class="sideContent">
      <blockquote>
        MINASWAN - Matz is nice and so we are nice.
      </blockquote>
      <%= partial "twitter" %>
    </aside>
  </section>
</div>

<%= partial "footer" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52984453-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
